## Simulation of Prices of Coupon -Bearing Bonds using CIR

In [1]:
import numpy as np
import pandas as pd
import risk_ as rk
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [3]:
rk.bond_price(5, 100, .05, 12, .03)

0    109.275393
dtype: float64

In [4]:
rates, zc_prices = rk.cir(10, 500, b=0.03, r_0=0.03)

In [5]:
rk.bond_price(5, 100, .05, 12, rates.iloc[0][[1,2,3]])

1    109.275393
2    109.275393
3    109.275393
dtype: float64

In [7]:
# bond prices at t=1 have started to diverge
rk.bond_price(5, 100, .05, 12, rates.iloc[1][[1,2,3]])

1    109.091370
2    109.728410
3    108.547016
dtype: float64

In [8]:
rates[[1,2,3]].head()

          1         2         3
0  0.030000  0.030000  0.030000
1  0.030378  0.029071  0.031502
2  0.024464  0.027591  0.029720
3  0.021225  0.024591  0.031211
4  0.018712  0.022418  0.037391